    <!-- Contact Section -->
    <section id="news" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>NEWS</h2>
				<p>
				Last updated: 2019-12-11
				</p>
				<p>
				<br>
				</p>
                <h3>2019-12-11</h3>
				<p>
<a href=
	"https://www.youtube.com/watch?v=BiP7YmcyCAM"
	>
	Shell, ExxonMobil, Chevron & BP Could Be Legally & Morally Liable for Climate Crisis in Philippines
</a>

				</p>
            </div>
        </div>
    </section>
